body { background-image:url('stars.jpg');
      font-family: Helvetica, Arial, sans-serif; 
      font-weight: 300;
      overflow: hidden;
      }

.content { 
		margin-left: auto;
		margin-right: auto;
		width: 65%;
		background-color: #FFFFFF;
		 }

.centered { text-align: center; }

.list { font-size: 12 px;
		  list-style-type: square;
		  }

.title { font-size: 20 px;
	   }