<style type="text/css">

* { font-family: heveltica; 
	overflow: hidden;
	}

.list { font-size: 12 px;
		  list-style-type: square;
		  border-width: 6px;
		  border-style: double;
		  }

.title { font-size: 20 px;
		 text-align: center;
		 }
		 
</style>